*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
:root{
  
  /* Colors */
  --White-color: #ffffff;
  --White-color-secondary: #f0f2f5;
  --Light-color: #f0f2f5;
  --Dark-color: #242526;
  --Grey-color: #808388;
  --Smooth-Back: rgba(0,0,0,.07);
  --Primary-color: #57be6c;/*#57be6c*/
  --Danger-color: #cc0e00;
  --Shadow-sm: rgba(0,0,0,.38);
  
  /* Radius */
  --Primary-radius: 20px;
  --Radius-sm: 10px;
  --Radius-xs: 5px;
  --Radius-trick: 49% 51% 51% 49% / 36% 30% 70% 64%;
  
  /* Transition */
  --Transition1: 400ms ease-out;

  /* Shadows */
  --trangle-shadow: 0 -.5px .5px rgba(0,0,0,.15);
  --black-shadow:rgba(0,0,0,.4);
  --white-shadow:rgba(255,255,255,.4);
  --box-shadow: 0 1px 3px 1px rgba(60,64,67,0.15), 0 1px 2px 0 rgba(60,64,67,0.3);
  --box-shadow2: 0 0 2px rgba(0,0,0,.12),
                0 0 2px rgba(0,0,0,.15)
}

/* Fonts */
@font-face{
  font-family: Gilroy;
  src: url("./assets/Gilroy-Light.otf");
  font-display: swap
}
@font-face{
  font-family: Chapaza;
  src: url("./assets/Chapaza.ttf");
  font-display: swap
}
/* Scroll bar */
::-webkit-scrollbar{
  width: 5px;
  backdrop-filter: blur(20px)
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(to bottom ,var(--White-color), var(--Primary-color) , var(--White-color));
  height: 40%;
  border-radius: 120px
}

/* Global */
body{
  font-family: Gilroy;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--White-color);
  color: var(--Dark-color)
}
a{
  text-decoration: none;
  user-select: none;
  color: var(--Dark-color)
}
a:hover{
  color: var(--Primary-color)
}
.hash-tag{
  position: relative;
  color: var(--Primary-color) !important;
  font-size: 1rem !important;
  font-weight: bolder !important
}
ul{
  list-style: none
}
img{
  width: 100%
}
.line{
  position: relative;
  left: 0;
  width: 100%;
  margin: .35rem 0;
  height: 1.05px;
  border-radius: 50px;
  box-shadow: inset 0 0 2px var(--shadow-sm)
}
.half-line{
  position: relative;
  width: 50%;
  margin: .35rem 0;
  height: 1.05px;
  border-radius: 50px;
  box-shadow: inset 0 0 2px var(--shadow-sm)
}
.hl-left{ left: 0; }
.hl-right{ right: 0; }
svg{
  width: 25px;
  height: 25px;
  fill: var(--Dark-color)
}
.svg-icon{
  display: inline-flex;
  align-items: center;
  font-weight: 500
}
.readMore{
  color: var(--Grey-color) !important;
  font-size: .8rem !important;
  cursor: pointer
}
.underline:hover{
  text-decoration: underline;
  cursor: pointer
}
svg.gooey{
  display: none
}
::placeholder,
input[type=date]::-webkit-datetime-edit{
  color: var(--Grey-color)
}
a:not(.logo):hover{
  color: var(--Primary-color)
}
.logo{
  font-weight: 300
}
.SEC-title{
  position: relative;
  display: inline-block;
  font-weight: 200;
  margin-bottom: 3rem
}
.SEC-title span{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  border-radius: var(--Primary-radius);
  width: 50%;
  background: var(--Dark-color)
}
.text-bold{
  font-weight: bolder
}
.hidden-scroll::-webkit-scrollbar{
  width: 0
}

/* Shapes */
.shapes span{
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left: 5px solid var(--Primary-color);
  filter: blur(.5px);
  user-select: none;
  pointer-events: none;
  z-index: 100
}

  /* Home Shapes */
.XSR1 span:nth-child(1){top: 10%;left: 50%;transform: rotate(45deg);}
.XSR1 span:nth-child(2){bottom: 20%;left: 20%;transform: rotate(80deg);}
.XSR1 span:nth-child(3){top: 50%;left: 65%;transform: rotate(20deg) translateY(-50%);}
.XSR1 span:nth-child(4){top: 15%;left: -5%;}
.XSR1 span:nth-child(5){top: 20%;right: -5%;}

  /* Services Shapes */
.XSR2 span:nth-child(1){top: 10%;right: 0%;transform: rotate(45deg);}
.XSR2 span:nth-child(2){top: 0%;left: 60%;transform: rotate(80deg);}
.XSR2 span:nth-child(3){top: 70%;left: 70%;transform: rotate(20deg);}

/* Needs */
.inline{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row
}
.radius-sm{
  border-radius: var(--Radius-sm)
}
.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}
.alerts{
  position: fixed;
  top: 20%;
  z-index: 99999;
  pointer-events: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%
}
.alerts .alert{
  margin: .65rem 0
}
.alerts .alert p{
  position: relative;
  min-width: 40%;
  padding: 1rem 4rem;
  font-size: 1rem;
  background: var(--White-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--Radius-xs);

  font-weight: bold;
  cursor: pointer
}
.alert-success p{
  color: var(--Primary-color)
}
.alert-danger p{
  color: var(--Danger-color)
}
.text-center{
  text-align: center
}
.text-primary{
  color: var(--Primary-color)
}
nav ul{
  display: flex
}
.lead{
  font-size: 1rem;
  color: var(--Grey-color);
  font-weight: 500
}
.btn{
  display: inline-block;
  background: var(--Light-color);
  color: #333;
  padding: 0.4rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  outline: none
}
.btn-primary{
background: var(--Primary-color);
color: var(--White-color);
border-radius: var(--Radius-xs);
font-size: 1.1rem;
font-weight: 300
}
.btn-dark{
  background: var(--Dark-color);
  color: var(--White-color)
}
.btn-glob{
  border-radius: var(--Radius-xs)
}
.primary-color{
  color: var(--Primary-color)
}
.blured-background::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: -1
}
.input-item{
  outline: none;
  border: none;
  background: var(--Light-color);
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 0.6rem 1rem;
  font-size: .9rem;
  margin: 1rem 0;
  border-radius: var(--Radius-xs)
}
textarea.input-item{
  resize: none
}

/* Margin */
.my{
  margin: 0.5rem 0
}
.my-1{
  margin: 1rem 0
}
.my-2{
  margin: 2rem 0
}
.my-3{
  margin: 3rem 0
}
.my-4{
  margin: 4rem 0
}
.my-5{
  margin: 5rem 0
}
.mx-1{
  margin: 0 1rem
}
.mx-2{
  margin: 0 2rem
}

/* Sizes */
.text-x-large{
  font-size: 4rem
}
.text-large{
  font-size: 3rem
}
.text-md{
  font-size: 2.5em
}
.text-sm{
  font-size: 1.3rem
}
.text-xs{
  font-size: 1.2rem
}
.text-xxs{
  font-size: 1rem
}

/* Navbar */
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: var(--box-shadow2);
  flex-wrap: nowrap;
  align-items: center;
  padding: 0rem 2rem;
  z-index: 999
}
.navbar a{
  color: var(--Dark-color);
  padding: 2rem .5rem;
  margin: 0 0.35rem
}

/* For Dashboard */
.navbar .dashboard li{
  margin: 0 1rem
}
.navbar .dashboard li.user{
  display: flex;
  flex-direction: row
}
.navbar .dashboard li.user .info{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  margin-left: .3rem
}
.navbar .dashboard li.user a{
  padding: 0 .2rem
}
.navbar .dashboard li.user .username{
  font-size: 1.1rem;
  text-align: left
}
.navbar .dashboard li.user .info span{
  padding: .05rem .5rem;
  color: var(--Grey-color);
  letter-spacing: 2px;
  font-weight: bold
}
.navbar .dashboard li.user .info span svg{
  margin-right: .5rem
}
.navbar .dashboard li.user .avatar{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 47px;
  height: 47px;
  border-radius: 50%;
  overflow: hidden
}
.navbar .dashboard li.user .avatar img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover
}
.navbar .dashboard .notification{
  position: relative;
  z-index: 101
}
.navbar .dashboard .notification svg{
  stroke: var(--Dark-color);
  fill: none
}
.navbar .dashboard .notification .notifs{
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%,100%);
  width: 300px;
  box-shadow: var(--box-shadow);
  border-radius: var(--Radius-sm);
  background: var(--White-color);
  padding: .75rem;
  height: 60vh;
  overflow: hidden;
  overflow-y: scroll;
  display: none
}
.navbar .dashboard .notification .notifs.show{
  display: block
}
.navbar .dashboard .notification .notif{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  cursor: pointer
}
.navbar .dashboard .notification .notif a{
  padding: 0;
  width: 100%;
  height: 100%;
  margin: .35rem 0
}
.navbar .dashboard .notification .notif a:visited{
  background: var(--Light-color)
}
.navbar .dashboard .notification .notif .inner{
  position: relative;
  display: flex;
  flex-direction: row
}
.navbar .dashboard .notification .notif .inner .username{
  font-size: 1.05rem;
  padding: 0 .35rem
}
.navbar .dashboard .notification .notif .inner .username,
.navbar .dashboard .notification .notif .inner .date{
  line-height: 50px
}
.navbar .dashboard .notification .notif .inner .date{
  font-size: .7rem;
  color: var(--Grey-color)
}
.navbar .dashboard .notification .notif .inner p{
  font-size: .9rem;
  color: var(--Grey-color);
  font-weight: 900;
  padding: .5rem .35rem;
  letter-spacing: 1px;
  text-align: left
}
.navbar .dashboard .notification .notifs .avatar{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0,0,0,.12);
  margin: 0 .35rem
}
.navbar .dashboard .notification .notifs .avatar img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-bottom: 50px;
  object-fit: cover;
  z-index: 1
}
.navbar .dashboard .notification p{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none
}
.navbar .dashboard .notification svg{
  width: 26px;
  height: 26px
}
.navbar .dashboard .notification .nbr{
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-65%);
  color: #f5f5f5;
  font-weight: bolder;
  font-size: .67rem;
  background: var(--Danger-color);
  width: 14px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center
}
.navbar .search{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%,-50%);
  width: 320px;
  z-index: 99
}
.navbar .search input{
  padding: .4rem 0;
  padding-left: 2.2rem;
  border-radius: var(--Primary-radius);
  font-size: 1.05rem;
  width: 100%
}
.navbar .search svg{
  position: absolute;
  left: 2%;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%)
}

/* Navbar Bottom */
.navbar-bottom{
  position: fixed;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .4rem 2rem;
  background: transparent;
  border-radius: var(--Primary-radius);
  overflow: hidden;
  z-index: 99
}
.navbar-bottom a,.navbar-bottom .theme_handel{
  position: relative;
  color: var(--Dark-color);
  padding: 0.25rem;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer
}
.navbar-bottom a::before,
.navbar-bottom .theme_handel::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--Radius-sm);
  transition: var(--Transition1);
  background: transparent;
  z-index: -1
}
.navbar-bottom a:hover::before,
.navbar-bottom a.active::before,
.navbar-bottom .theme_handel:hover::before,
.navbar-bottom .theme_handel.active::before{
  background: var(--Dark-color)
}
.navbar-bottom a:hover svg,
.navbar-bottom a.active svg,
.navbar-bottom .theme_handel:hover svg,
.navbar-bottom .theme_handel.active svg{
  fill: var(--White-color);
  width: 26px;
  height: 26px
}
/* Landing */
.landing{
  position: relative;
  top: 4.2rem;
  background: var(--White-color)
}

/* Home */
.landing .home{
  position: relative;
  min-height: calc(100vh - 4.2rem);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  z-index: 4
}
.landing .home h1{
  font-weight: 200
}
.landing .home p{
  max-width: 90%
}
.landing .home .button{
  margin-top: 5rem
}
.landing .home .button a:hover svg{
  fill: var(--Primary-color)
}
.landing .home .right-sec{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end
}
.landing .home .new-users{
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--Light-color);
  background: var(--White-color)
}
.landing .home .new-users .outer{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: var(--Light-color);
  border-radius: 50%;
  width: 75%;
  height: 75%;
  z-index: 1
}
.landing .home .new-users .outer span{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-40%);
  width: 40px;
  height: 40px;
  border-radius: 50%
}
.landing .home .right-sec .new-users .title{
  position: relative;
  color: var(--Dark-color);
  background: var(--White-color);
  word-wrap: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  z-index: 2
}
.landing .home .new-users .title span{
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%
}
.landing .home .new-users .border span:nth-child(1){
  position: absolute;
  top: 40%;
  right: 0;
  transform: translateX(50%);
  width: 30px;
  height: 30px;
  border-radius: 50%
}
.landing .home .new-users .border span:nth-child(2){
  position: absolute;
  bottom: 10%;
  left: 0;
  transform: translateX(100%);
  width: 30px;
  height: 30px;
  border-radius: 50%
}
.landing .home .new-users .border span:nth-child(3){
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(100%);
  width: 60px;
  height: 60px;
  border-radius: 50%
}
.landing .home .new-users .border span:nth-child(4){
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateX(50%);
  width: 60px;
  height: 60px;
  border-radius: 50%
}
.landing .home .new-users span{
  overflow: hidden;
  background: transparent
}
.landing .home .new-users span img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover
}

/* Services */
.landing .services{
  position: relative;
  padding: 2rem 0
}
.landing .services .cards{
  display: flex;
  justify-content: space-between;
  align-items: center
}
.landing .services .card > div{
  padding: 0.65rem 1rem 1.5rem 1rem;
  min-height: 100%;
  width: 90%;
  box-shadow: 0 0 100px rgba(0,0,0,.08);
  border-radius: var(--Radius-sm)
}
.landing .services .card > div p{
  text-align: left
}
.landing .services .sperate{
  border-right: 1px solid var(--Dark-color)
}
.landing .services .card > div h3 svg{
  fill: var(--Primary-color)
}
.landing .services .join p span{
  font-weight: bolder
}

/* Testimonial */
.landing .testimonial{
  position: relative
}
.landing .testimonial .cards{
  position: relative;
  z-index: 1
}
.landing .testimonial .card{
  min-height: 100%;
  margin: 2rem 0
}
.landing .testimonial .card .avatar ~ p{
  font-weight: bolder;
  color: var(--White-color);
  background: var(--Dark-color);
  max-width: 100%
}
.landing .testimonial .card .avatar{
  position: relative;
  width: 100%;
  height: 50%;
  border-radius: var(--Primary-radius);
  overflow: hidden
}
.landing .testimonial .card .avatar > img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.landing .testimonial .card .stars{
  margin: 0 auto
}
.landing .testimonial .card .stars svg{
  width: 20px;
  height: 20px;
  fill: gold;
  margin: 0 .25rem
}
.landing .testimonial .card .opinion{
  font-size: 0.9rem;
  text-align: justify;
  font-weight: 300;
  color: var(--Grey-color);
  max-width: 90%
}
.landing .testimonial .card .university{
  font-size: .85rem;
  text-align: center;
  color: var(--Grey-color);
  font-weight: bolder;
  padding: 1rem
}

/* Contact Us */
.landing .contact{
  position: relative
}
.landing .contact input,
.landing .contact textarea{
  margin: 0
}
.landing .contact .info{
  margin: 1rem 0
}
.landing .contact a svg{
  width: 20px;
  height: 20px
}
.landing .contact a:hover svg{
  fill: var(--Primary-color)
}
.landing .contact .INF-SEC::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #21aad1;
  z-index: -1
}

/* Footer */
.landing footer{
  position: relative;
  padding-bottom: 4rem
}
.landing footer .links svg{
  width: 15px;
  height: 15px
}
.landing footer .SVG-container:hover > svg{
  fill: var(--Primary-color)
}
.landing footer .links p:hover{
  color: var(--Primary-color)
}
.landing footer .links p{
  cursor: pointer;
  display: inline-block;
  margin: .80rem 0
}
.landing footer .languages{
  display: flex;
  flex-direction: column
}
.landing footer .languages a{
  display: inline;
  margin: .20rem 0
}
.landing footer .social a{
  position: relative;
  width: 30px;
  height: 30px;
  margin: 2rem .75rem;
  border-radius: 50%;
  background: var(--Dark-color);
  cursor: pointer
}
.landing footer .social a svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 18px;
  height: 18px
}
.landing footer .social a:nth-child(1){
  background: #4267b2
}
.landing footer .social a:nth-child(2){
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%)
}
.landing footer .social a:nth-child(3){
  background: #0e76a8
}
.landing footer .social a:nth-child(4){
  background: var(--Dark-color)
}

/* Side bar */
aside{
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  max-height: 100vh;
  height: 100vh;
  transition: .5s;
  padding: .5rem 0;
  margin-top: 4rem;
  z-index: 5
}
aside.show{
  width: 250px
}
aside .inner{
  position: relative;
  margin-top: 2rem;
  min-height: 100%;
  overflow: hidden;
  overflow-y: scroll
}
aside .toggle{
  display: none;
  position: absolute;
  top: 25%;
  right: 0;
  transform: translate(100%,-100%);
  background: var(--Dark-color);
  border-radius: 0 50% 50% 0;
  padding: .3rem;
  width: 30px;
  height: 30px;
  cursor: pointer
}
aside .toggle svg{
  width: 100%;
  height: 100%;
  fill: var(--White-color);
  transform: rotate(-90deg)
}
aside .toggle.show svg{
  transform: rotate(90deg)
}
aside ul{
  position: relative
}
aside ul li{
  position: relative;
  width: 100%;
  padding: 0.2rem 0;
  border-left: 4px solid transparent
}
aside ul li.active{
  background: var(--Light-color);
  width: 102%;
  border-left: 4px solid var(--Primary-color)
}
aside ul li.active > .svg-icon{
  color: var(--Primary-color)
}
aside ul li.active > .svg-icon .icon svg,
aside ul li:hover > .svg-icon .icon svg{
  fill: var(--Primary-color)
}
aside ul li.active > .svg-icon .title,
aside ul li:hover > .svg-icon .title{
  color: var(--Primary-color)
}
aside ul li > .svg-icon{
  position: relative;
  width: 100%;
  display: flex;
  color: var(--Dark-color);
  font-weight: bolder;
  font-size: 1rem
}
aside ul li > .sperate{
  height: 40px;
  padding-left: 2rem;
  line-height: 50px
}
aside ul li > .svg-icon .icon{
  position: relative;
  min-width: 60px;
  height: 40px;
  padding-left: 2rem;
  line-height: 50px;
  text-align: center;
  display: block
}
aside ul li > .svg-icon .icon svg{
  width: 20px;
  height: 20px
}
aside ul li > .svg-icon .title{
  position: relative;
  display: block;
  padding-left: 2rem;
  height: 40px;
  line-height: 40px;
  white-space: normal
}
aside ul li .languages{
  display: flex;
  flex-direction: column;
  padding-left: 5rem
}
aside ul li .languages a{
  padding: 0.2rem 0.45rem
}

/* Right sidebar */
.right-sidebar{
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  transition: .5s;
  height: 100vh;
  padding: .5rem 0;
  margin-top: 4rem;
  z-index: 5
}
.right-sidebar.show{
  width: 250px
}
.right-sidebar .toggle{
  display: none;
  position: absolute;
  top: 25%;
  left: 0;
  transform: translate(-100%,-100%);
  background: var(--Dark-color);
  border-radius: 50% 0 0 50%;
  padding: .3rem;
  width: 30px;
  height: 30px;
  cursor: pointer
}
.right-sidebar .toggle svg{
  width: 100%;
  height: 100%;
  fill: var(--White-color);
  transform: rotate(90deg)
}
.right-sidebar .toggle.show svg{
  transform: rotate(-90deg)
}
.right-sidebar .inner{
  position: relative;
  margin-top: 2rem;
  min-height: 100%;
  overflow-y: scroll
}
.right-sidebar .inner::-webkit-scrollbar{
  width: 0
}
.right-sidebar .inner .daily-tasks h3{
  position: relative;
  font-size: 1.3rem
}
.right-sidebar ul{
  padding: .3rem
}
.right-sidebar ul li{
  position: relative;
  margin: 1.5rem 0;
  padding: .8rem 0;
  box-shadow: var(--box-shadow);
  border-radius: var(--Radius-sm)
}
.right-sidebar ul .fromto{
  font-size: .9rem;
  color: var(--Grey-color);
  text-align: end
}
.right-sidebar ul label{
  position: relative;
  user-select: none;
  cursor: pointer;
  font-size: .9rem;
  font-weight: bolder;
  padding-left: 1.2rem;
  display: flex;
  max-width: 95%
}
.right-sidebar ul label .check{
  position: absolute;
  left: 0;
  top: 4px;
  width: 13px;
  height: 13px;
  border-radius: 4px;
  border: 1px solid var(--Grey-color);
  margin-right: 5px
}
.right-sidebar ul input{
  display: none
}
.right-sidebar ul .check svg{
  position: absolute;
  width: 17px;
  height: 17px;
  top: 0;
  left: 0;
  transform: translateY(-40%);
  fill: none;
  stroke: var(--Primary-color);
  stroke-width: 50;
  stroke-dasharray: 1440;
  stroke-dashoffset: 1440;
  transition: var(--Transition1)
}
.right-sidebar ul li .delete{
  position: absolute;
  top: 10px;
  right: -5px;
  width: 20px;
  height: 20px;
  background: transparent;
  display: none
}
.right-sidebar ul li .delete svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  fill: var(--Dark-color);
  width: 100%;
  height: 100%
}
.right-sidebar ul input:checked ~ label .check svg{
  stroke-dashoffset: 0
}
.right-sidebar ul input:checked ~ label p{
  text-decoration: line-through;
  color: var(--Grey-color)
}
.right-sidebar ul input:checked ~ .delete{
  display: block
}

/* Dashboard */
.dash{
  position: relative;
  width: 100%;
  top: 0;
  padding-top: 5rem;
  background: var(--Light-color);
  display: flex;
  overflow: hidden
}
.dash .content,
.profile .content{
  position: relative;
  width: 100%;
  border-radius: var(--Primary-radius);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 5rem)
}
.dash .content .welcomes{
  position: relative;
  text-align: left;
  margin-bottom: 1rem;
  width: 500px
}
.dash .content .rises{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  min-height: 150px;
  max-height: 150px;
  display: flex;
  flex-direction: column;
  background: var(--Dark-color);
  padding: .35rem 0;
  border-radius: var(--Primary-radius)
}
.dash .content .rises h3{
  color: var(--White-color)
}
.dash .content .rises .counter{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: var(--Primary-color);
  font-size: 1.2rem
}
.dash .content .rises .box{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 110px;
  height: 110px
}
.dash .content .rises .box svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-90deg);
  width: 100%;
  height: 100%
}
.dash .content .rises .box svg circle{
  fill: none;
  stroke: var(--Primary-color);
  stroke-width: 7;
  stroke-linecap: round;
  stroke-dasharray: 265;
  stroke-dashoffset: 265;
  animation: progress_animate 2s forwards;
  will-change: stroke-dashoffset
}
@keyframes progress_animate{
  100%{
      stroke-dashoffset: 68.9;
  }
}

/* User Ident */
.dash .content .user-ident{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 150px;
  padding: 1.5rem;
  border-radius: var(--Radius-sm);
  background: rgba(87, 190, 108,.05);
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  z-index: 1
}
.dash .content .user-ident .credentials{
  font-stretch: expanded;
  letter-spacing: .12rem;
  padding: .45rem 0;
  color: var(--Dark-color);
  text-shadow: 0 1px 2px var(--black-shadow)
}
.dash .content .user-ident .personal{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}
.dash .content .user-ident .back-shapes{
  position: absolute;
  width: 100%;
  height: 100%
}
.dash .content .user-ident .back-shapes span{
  position: absolute;
  background: var(--Primary-color);
  border-radius: 50%;
  z-index: -3
}
.dash .content .user-ident .back-shapes span:nth-child(1){
  top: 0;
  right: 0;
  transform: translateY(-50%);
  width: 80px;
  height: 80px
}
.dash .content .user-ident .back-shapes span:nth-child(2){
  bottom: 0;
  left: 0;
  transform: translateX(-50%);
  width: 60px;
  height: 60px
}
.dash .content .user-ident .back-shapes span:nth-child(3){
  top: 0;
  left: 0;
  background: transparent;
  border: 5px solid var(--Primary-color);
  width: 100%;
  height: 100%
}
.dash .content h3{
  margin-bottom: 1rem
}

/* New oproto */
.dash .content .oproto{
  position: relative;
  margin-bottom: 1rem;
  width: 500px
}
.dash .content .oproto .avatar{
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden
}
.dash .content .oproto .avatar img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover
}
.dash .content .oproto .box{
  position: relative;
  width: 100%;
  box-shadow: var(--box-shadow2);
  border-radius: var(--Radius-xs);
  background: var(--White-color);
  padding: 1.2rem;
  z-index: 9
}
.dash .content .oproto .box textarea{
  outline: none;
  border: none;
  background: transparent;
  height: 100%;
  min-height: 100px;
  min-width: 100%;
  max-width: 100%;
  padding: .35rem 5rem;
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--Dark-color)
}
.dash .content .oproto .box .ftr-pst{
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow2);
  margin-top: .5rem;
  padding: .4rem 1rem;
  border-radius: var(--Radius-xs)
}
.dash .content .oproto .box .ftr-pst .items{
  display: flex;
  flex-wrap: nowrap
}
.dash .content .oproto .box .ftr-pst .items .subtext{
  margin-left: .2rem
}
.dash .content .oproto .box .ftr-pst .addons{
  position: relative;
  display: block;
  background-color: transparent;
  transform: translateY(-10%);
  padding: 0 .75rem;
  z-index: 2
}
.dash .content .oproto .box .ftr-pst .addons svg{
  width: 19px;
  height: 19px;
  transform: translateY(25%)
}
.dash .content .oproto .box .ftr-pst .addons span{
  font-size: .82rem;
  color: var(--Grey-color)
}
.dash .content .oproto .box .ftr-pst .submit{
  position: relative;
  display: block;
  right: 0
}
.dash .content .addons .box-addons{
  position: absolute;
  top: 105%;
  left: 0;
  transform: scaleY(0) translateY(-100%);
  transform-origin: top;
  width: 250px;
  max-height: 250px;
  border-radius: var(--Radius-xs);
  background: var(--White-color);
  box-shadow: var(--box-shadow);
  padding: 1.5rem;
  text-align: left;
  overflow-y: scroll;
  transition: 300ms ease-in-out;
  z-index: 2
}
.dash .content .addons .box-addons::before{
  content: '';
  position: absolute;
  top: 2px;
  left: 15px;
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--Primary-color)
}
.dash .content .addons .box-addons .submit{
  width: 100%;
  padding: .35rem 0;
  border-radius: var(--Radius-xs);
  color: var(--Primary-color);
  font-weight: bolder;
  font-size: .8rem;
  display: block;
  background: var(--Light-color);
  text-align: center
}
.dash .content .addons .box-addons p{
  font-size: 1rem;
  margin-bottom: .5rem;
  color: var(--Grey-color)
}
.dash .content .addons .box-addons .emojis-box div{
  padding: 1rem 0
}
.dash .content .addons.active .box-addons{
  transform: scaleY(1) translateY(0)
}

/* Posts */
.content .header{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  width: 500px
}
.content .filters button{
  font-size: .85rem;
  background: transparent;
  border-radius: 25px;
  padding: .35rem .5rem;
  margin-left: .65rem;
  color: var(--Dark-color)
}
.content .filters button.active{
  background: var(--Dark-color);
  color: var(--White-color)
}
.content .posts{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  width: 500px;
  padding: 0 1px;
  padding-bottom: 2rem
}
.content .posts .post{
  position: relative;
  transform-origin: top;
  min-height: 80px;
  width: 500px;
  margin: .75rem 0;
  border-radius: var(--Radius-xs)
}
.content .posts .post .kipper{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: var(--Radius-xs);
  background: var(--White-color);
  box-shadow: var(--box-shadow);
  outline: none;
  padding-top: .5rem
}
/*.content .posts .post:hover > .kipper{
  animation: hinge 2s 1s ease-in-out alternate forwards;
  transform-origin: top left
}*/
@keyframes hinge{
	0%{
    transform: rotate(0);
  }
	20%,60%{
    transform: rotate(80deg);
  }	
	40%{
    transform: rotate(50deg);
  }	
	80%{
    transform: rotate(50deg) translateY(0);
    opacity: 1;
  }	
	100% {
    transform: translateY(700px);
    opacity: 0;
  }
}
.content .posts .behind-post{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--Radius-xs)
}
.content .posts .behind-post::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 94%;
  width: 98%;
  background: linear-gradient(to right, var(--Grey-color) 50%, transparent 0%) top/20px 1px repeat-x,
              linear-gradient(var(--Grey-color) 50%, transparent 0%) right/1px 20px repeat-y,
              linear-gradient(to right, var(--Grey-color) 50%, transparent 0%) bottom/20px 1px repeat-x,
              linear-gradient(var(--Grey-color) 50%, transparent 0%) left/1px 20px repeat-y
}
/* Inner */
.content .posts .post .inner{
  position: relative;
  padding: .5rem 1rem;
  display: flex;
  justify-content: flex-start;
  z-index: 4;
  width: 100%
}
.content .posts .post .inner .head{
  z-index: 3;
  width: 100%
}
.content .posts .post .inner .head .off-user{
  display: flex;
  flex-wrap: nowrap;
  width: 100%
}
.content .posts .post .inner .head .user-info{
  position: relative;
  margin-left: .5rem;
  width: 100%
}
.content .posts .post .inner .head .user-info .inline{
  margin-bottom: .3rem
}
.content .posts .post .inner .head .user-info .inline label{
  margin-top: .15rem;
  margin-left: .5rem;
  font-size: .8em;
  color: var(--Grey-color)
}
.content .posts .post .inner .head .user-info .date{
  color: var(--Grey-color);
  font-weight: bolder;
  font-size: .85em
}
.content .posts .post .inner .head .user-info .date p{
  box-shadow: var(--box-shadow2);
  padding: .2rem .4rem;
  margin-left: .5rem
}
.content .posts .post .inner .head .user-info .date p svg{
  width: 15px;
  height: 15px
}
.content .posts .post .inner .head .user-info span.text-bold{
  position: relative;
  display: block;
  color: var(--Dark-color);
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: .92rem
}
.content .posts .post .avatar{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  overflow: hidden
}
.content .posts .post .avatar img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  object-fit: cover;
  z-index: 1
}
.content .posts .post .dropdown{
  position: absolute;
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
  transform-origin: center;
  z-index: 99
}
.content .posts .post .dropdown span{
  position: absolute;
  top: 8px;
  right: 20px;
  width: 28px;
  height: 28px;
  justify-content: center;
  pointer-events: visible;
  user-select: none;
  cursor: pointer
}
.content .posts .post .dropdown > span{
  border-radius: 50%;
  background: transparent;
  transition: 300ms ease
}
.content .posts .post .dropdown > span:hover{
  background: rgba(0,0,0,.08)
}
.content .posts .post .dropdown span svg{
  width: 20px;
  height: 20px;
  fill: var(--Grey-color)
}
.content .posts .post .dropdown p{
  padding: 0 .35rem
}
.content .posts .post .dropdown ul{
  position: absolute;
  top: 45px;
  right: 15px;
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 .5rem;
  background: var(--White-color);
  box-shadow: var(--box-shadow2);
  border-radius: var(--Radius-xs);
  pointer-events: visible;
  z-index: 99
}
.content .posts .post .dropdown ul.show{
  display: flex
}
.content .posts .post .dropdown ul::before{
  content: '';
  position: absolute;
  top: 0;
  right: .5rem;
  transform: translateY(-100%);
  border-color: transparent transparent var(--White-color) transparent;
  border-style: solid;
  border-width: 0px 10px 10px 10px;
  filter: drop-shadow(var(--trangle-shadow));
  height: 0px;
  width: 0px
}
.content .posts .post .dropdown ul li{
  position: relative;
  margin: .5rem 0;
  font-size: .89rem;
  letter-spacing: 1px;
  font-weight: bolder;
  width: 100%;
  cursor: pointer;
  color: var(--Dark-color)
}
.content .posts .post .dropdown ul li svg{
  fill: var(--Grey-color);
  width: 20px;
  height: 20px;
  margin-top: -5px
}
.content .posts .post .dropdown ul li p{
  padding-left: .5rem
}
.content .posts .post .dropdown ul li p span{
  position: relative;
  display: block;
  color: var(--Grey-color);
  width: 100%;
  padding-left: 1.2rem;
  margin-top: -.5rem;
  font-size: .78rem
}
.content .posts .post .dropdown ul .line{
  background: var(--Grey-color)
}
.content .posts .post .body{
  position: relative;
  padding: .3rem 0;
  z-index: 3
}
.content .posts .post .body .link{
  padding: .3rem 1.2rem;
  border-radius: 25px;
  display: inline
}
.content .posts .post .body .link a{
  font-size: 1rem;
  color: var(--Primary-color);
  letter-spacing: .1rem
}
.content .posts .post .body .link svg{
  margin-bottom: -.1rem;
  margin-right: .4rem;
  width: 15px;
  height: 15px
}
.content .posts .post .body p{
  font-family: Chapaza;
  letter-spacing: 1.5px;
  color: var(--Dark-color);
  line-height: 2.1rem;
  font-size: .92em;
  font-weight: 500;
  min-height: 3.5rem;
  overflow-wrap: anywhere;
  padding: 0 1rem;
  white-space: pre-wrap;
  text-align: start;
  user-select: text
}
.content .posts .post .nmbrs{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: .2rem .7rem;
  flex-direction: row;
  flex-wrap: nowrap
}
.content .posts .post .nmbrs div{
  margin: 0 .5rem
}
.content .posts .post .nmbrs .svg-icon{
  padding: 2px;
  width: 23px;
  height: 23px;
  color: var(--Grey-color);
  border-radius: 50%;
  box-shadow: inset -2px -2px 10px rgba(0,0,0,.13);
  justify-content: center
}
.content .posts .post .nmbrs .svg-icon.next-icon{
  margin-left: -.17rem;
  margin-right: .25rem
}
.content .posts .post .nmbrs svg{
  height: 15px;
  width: 15px;
  fill: white
}
.content .post .footer{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 .5rem;
  z-index: 3
}
.content .post .footer .head .react{
  cursor: pointer;
  margin: .3rem .1rem;
  padding: .3rem 1rem;
  border-radius: var(--Radius-xs);
  transform: scale(1);
  background: transparent
}
.content .post .footer .head .react:active{
  transform: scale(.969)
}
.content .post .footer .head .react:hover{
  background: var(--Smooth-Back)
}
.content .post .footer .head .react svg{
  width: 23px;
  height: 23px;
  fill: var(--Grey-color);
  margin-right: .18rem
}
.content .post .footer .head .share svg{
  width: 20px;
  height: 20px
}
.content .post .footer .head span{
  cursor: pointer;
  font-size: .9375rem;
  color: var(--Grey-color);
  font-weight: 600;
  user-select: none;
  font-weight: bolder
}
/* Comments */
.content .posts .post .comments{
  position: relative;
  padding: 0 .7rem;
  z-index: 5;
  display: none
}
.content .posts .post .comments .comments-form{
  position: relative;
  width: 100%;
  margin: .5rem 0;
  padding: .7rem .5rem
}
.content .posts .post .comments .comments-form .form-content{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%
}
.content .posts .post .comments .comments-form .form-content .form-item{
  flex-grow: 1
}
.content .posts .post .comments .comments-form .form-content .form-item.form-input{
  flex-grow: 2;
  margin: 0 .3rem;
  background: var(--White-color-secondary);
  border-radius: var(--Radius-xs)
}
.content .posts .post .comments .comments-form .form-content .form-input textarea{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 100%;
  min-width: 100%;
  min-height: 30px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: .4rem .7rem;
  color: var(--Dark-color);
  line-height: 15px;
  max-height: 120px;
  background: transparent;
  border: none;
  outline: none;
  resize: none
}
.content .posts .post .comments .comments-form .form-content .submit::first-letter{
  text-transform: uppercase
}
.content .posts .post .comments .comments-form .form-content .submit{
  border: none;
  outline: none;
  background: transparent;
  display: inline;
  font-size: .82rem;
  letter-spacing: .8px;
  cursor: pointer;
  font-weight: 600;
  color: var(--Primary-color)
}
.content .posts .post .comments.show{
  display: block
}
.content .posts .post .comments .avatar{
  width: 35px;
  height: 35px
}
.content .posts .post .comments .comments-card{
  position: relative;
  background: var(--White-color)
}
.content .posts .post .comments .comments-card .comment{
  background: var(--White-color-secondary);
  padding: .4rem;
  border-radius: var(--Radius-sm);
  width: 100%
}
.content .posts .post .comments .comments-card .body p{
  font-size: .83rem;
  min-height: inherit;
  font-weight: 100;
  padding: 0;
  padding-left: .5rem
}
.content .posts .post .comments .comments-card .dropdown{
  top: 17px;
  right: 10px
}
.content .posts .post .comments .comments-card .footer{
  margin: 0;
  width: 100%;
  box-shadow: none;
  padding:0 .7rem
}
.content .posts .post .comments .comments-card .footer .head{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%
}
.content .posts .post .comments .comments-card .footer .head .reagir .mlt{
  margin-left: 1rem
}
.content .posts .post .comments .comments-card .footer .head .cmntsnbr{
  margin-top: .225rem;
  border-radius: 25px;
  background: var(--White-color-secondary);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20px;
  color: var(--Dark-color);
  font-size: .7rem;
  cursor: pointer
}
.content .posts .post .comments .comments-card .footer .head .cmntsnbr svg{
  width: 17px;
  height: 17px;
  margin-bottom: -.1rem
}
.content .posts .post .comments .comments-card .footer .head .cmntsnbr svg:hover{
  fill: var(--Dark-color)
}
.content .posts .post .comments .comments-card .footer .head .cmntsnbr svg#dislike{
  fill: var(--Grey-color);
  margin-left: -5%
}

/* Profile */
.profile{
  position: relative;
  top: 0;
  width: 100%;
  padding-top: 5rem;
  overflow-x: hidden
}
.profile .content .heading{
  position: relative;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap
}
.profile .content .heading .avatar{
  position: relative;
  top: 0;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin: 0 .5rem;
  box-shadow: 0 3px 5px rgba(0,0,0,.08);
  user-select: none
}
.profile .content .heading .avatar img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  border-radius: 50%
}
/* .profile .content .heading .avatar .half-circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 130px;
  border: 2px solid var(--Primary-color);
  border-radius: 50%;
  transform: rotate(-135deg) translate(10%,00%);
  z-index: 2
}
.profile .content .heading .avatar .half-circle:nth-child(1){
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent
}
.profile .content .heading .avatar .half-circle:nth-child(2){
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent
} */
.profile .content .heading .btns .bt{
  margin: .35rem 0;
  min-width: 90px;
  outline: none;
  border: none;
  border-radius: var(--Radius-xs);
  padding: .35rem .65rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: .9rem;
  font-weight: bolder
}
.profile .content .heading .btns .follow{
  background: var(--Primary-color);
  color: #f5f5f5
}
.profile .content .heading .btns .edit{
  background: var(--Light-color);
  color: var(--Dark-color)
}
.profile .content .heading .btns .bt svg{
  width: 18px;
  height: 18px
}
.profile .content .heading .btns .follow svg{
  fill: #f5f5f5
}
.profile .content .heading .stats{
  position: relative;
  align-self: flex-start;
  flex-direction: column;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin: 1.5rem 0
}
.profile .content .heading .stats .in-line{
  display: flex;
  flex-direction: row
}
.profile .content .heading .stats .user p{
  color: var(--Grey-color);
  font-size: 1rem;
  padding: .2rem 1rem;
  background: var(--Light-color);
  border-radius: var(--Radius-xs);
  cursor: pointer;
  user-select: none;
  letter-spacing: .5px
}
.profile .content .heading .stats .user h3{
  text-transform: capitalize;
  letter-spacing: 1.35px
}
.profile .content .heading .stats .user span{
  margin: 0 .65rem
}
.profile .content .heading .stats .user span svg{
  fill: var(--Primary-color);
  width: 18px;
  height: 18px;
  filter: drop-shadow(0 0 10px var(--Primary-color))
}
.profile .content .heading .stats .gets{
  margin: 1rem 0
}
.profile .content .heading .stats .gets button{
  outline: none;
  border: none;
  background: transparent;
  margin-right: 2rem
}
.profile .content .heading .stats p{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 1.08rem;
  font-weight: 200;
  color: var(--Grey-color)
}
.profile .content .heading .stats p span{
  color: var(--Dark-color);
  margin-left: .5rem;
  font-weight: bold
}
.profile .content .heading .stats .bio p{
  font-size: .9rem;
  color: var(--Dark-color);
  max-width: 70%;
  text-align: justify
}
.profile .content .divider{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  background: var(--Grey-color);
  height: 1px;
  border-radius: var(--Primary-radius);
  margin: 1rem 0
}
.profile .content .info{
  position: relative;
  width: 65%;
  padding: 1rem 0;
  border-radius: var(--Radius-xs)
}
.profile .content .info .item{
  margin: .5rem 0
}
.profile .content .info .credentials p{
  line-height: 3rem
}
.profile .content .info .credentials p a.email{
  margin-left: .46rem
}
.profile .content .info .edu{
  box-shadow: var(--box-shadow);
  padding: .5rem;
  height: 100%;
  border-radius: var(--Radius-xs)
}
.profile .content .info .toggle-box{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(10%,-10%);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer
}
.profile .content .info p{
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: var(--Dark-color)
}
.profile .content .info p a.email{
  margin-left: 1rem
}
.profile .content .info p a,
.profile .content .info p span{
  margin-left: .45rem
}
.profile .content .info p svg{
  width: 20px;
  height: 20px;
  fill: var(--Grey-color)
}
.profile .content .rank{
  position: relative;
  margin: 2rem 0;
  width: 65%
}
.profile .content .rank .glitch{
  display: none
}
.profile .content .rank .item{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #242526;
  box-shadow: var(--box-shadow);
  width: 80px;
  height: 80px;
  margin: 1rem;
  border-radius: var(--Radius-xs);
  cursor: pointer;
  user-select: none
}
.profile .content .rank .item span{
  position: relative;
  display: block;
  font-size: .85rem;
  font-weight: bold;
  color: var(--Dark-color);
  background: var(--White-color);
  box-shadow: var(--box-shadow);
  margin-top: .5rem;
  text-align: center;
  width: 100px
}
.profile .content .rank .item.show span{
  transform: translateY(-200%);
  animation: rank 700ms cubic-bezier(.3,.6,.89,.67) forwards
}
@keyframes rank{
  from{
      transform: translateY(-200%);
      box-shadow: var(--box-shadow),
                  0 20px 70px #57be6c;
  }
  to{
      transform: translateY(0);
      box-shadow: var(--box-shadow);
  }
}
.profile .content .rank .item:not(.show) span::before,
.profile .content .rank .item:not(.show) span::after{
  display: none
}
.profile .content .rank .item:not(.show) span{
  width: 100%
}
.profile .content .rank .item span::before,
.profile .content .rank .item span::after{
  content: '';
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  display: block;
  background: rgba(36, 37, 38,.6);
  z-index: -2
}
.profile .content .rank .item span::before{
  left: 0;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  transform: translate(3%,-100%)
}
.profile .content .rank .item span::after{
  right: 0;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  transform: translate(-5%,-100%)
}
.profile .content .rank .item svg{
  width: 32px;
  height: 32px
}
.profile .content .rank div:nth-child(1) .item svg{
  fill: url(#Bronze)
}
.profile .content .rank div:nth-child(2) .item svg{
  fill: url(#Silver)
}
.profile .content .rank div:nth-child(3) .item svg{
  fill: url(#Gold)
}
.profile .content .rank div:nth-child(4) .item svg{
  fill: url(#Platinum)
}
.profile .content .rank div:nth-child(5) .item svg{
  fill: url(#Diamond)
}
.profile .content .rank .item .frozen{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow);
  background: var(--Dark-color);
  border-radius: var(--Radius-xs);
  user-select: none;
  pointer-events: none;
  display: none;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: .5rem;
  z-index: 2
}
.profile .content .rank .item .frozen span{
  background: var(--White-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .2rem 0
}
.profile .content .rank .item .frozen span svg{
  fill: var(--Dark-color) !important;
  width: 16px;
  height: 16px
}
.profile .content .rank .item .frozen .interrogation{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-75%)
}
.profile .content .rank .item .frozen .interrogation svg{
  fill: var(--White-color) !important;
  width: 30px;
  height: 30px
}
.profile .content .rank .item:not(.show) .frozen{
  display: flex
}

/* Edit Profile */
.edit-profile{
  position: relative;
  top: 0;
  width: 100%;
  padding-top: 5rem
}
.edit-profile .content .inner{
  padding: 0 260px
}
.edit-profile .content .navigate{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 1.2rem;
  border-radius: var(--Radius-xs)
}
.edit-profile .content .navigate .item{
  position: relative;
  padding: .35rem .75rem;
  user-select: none;
  cursor: pointer;
  border-radius: var(--Radius-sm)
}
.edit-profile .content .navigate .item:hover svg,
.edit-profile .content .navigate .item:hover span,
.edit-profile .content .navigate .item.active svg,
.edit-profile .content .navigate .item.active span{
  fill: var(--Primary-color);
  color: var(--Primary-color)
}
.edit-profile .content .navigate .item svg{
  width: 19px;
  height: 19px;
  transform: translateY(10%)
}
.edit-profile .content .navigate .item span{
  font-size: .95rem;
  font-weight: bold;
  color: var(--Grey-color);
  letter-spacing: 1px
}
.edit-profile .content .edits{
  position: relative;
  box-shadow: var(--box-shadow);
  width: 100%;
  padding: 1rem 3rem;
  margin-bottom: 4rem;
  border-radius: var(--Radius-xs)
}
.edit-profile .content .edits .element{
  display: none
}
.edit-profile .content .edits .element input,
.edit-profile .content .edits .element textarea,
.edit-profile .content .edits .element select{
  color: var(--Dark-color)
}
.edit-profile .content .edits .element.active{
  display: block
}
.edit-profile .content .edits .element h3{
  color: var(--Dark-color);
  margin: 1rem 0;
  font-weight: bold
}
.edit-profile .content .edits .element .description{
  font-size: .82rem;
  letter-spacing: 1px;
  color: var(--Grey-color)
}
.edit-profile .content .edits .element .avatar{
  position: relative;
  margin: 1rem auto;
  margin-bottom: 2rem;
  width: 100px;
  height: 100px;
  border-radius: 50%
}
.edit-profile .content .edits .element .avatar .change{
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-15%,-20%);
  z-index: 2;
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--White-color);
  box-shadow: var(--box-shadow);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer
}
.edit-profile .content .edits .element .avatar .change svg{
  width: 13px;
  height: 13px;
  fill: var(--Primary-color)
}
.edit-profile .content .edits .element .avatar img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(0,0,0,.12)
}
.edit-profile .content .edits .element .title{
  font-size: 1rem;
  color: var(--Dark-color);
  font-weight: bold
}
.edit-profile .content .edits .element .required span{
  padding: 0 .35rem;
  transform: translateY(-10%);
  color: var(--Danger-color)
}
.edit-profile .content .edits .element .submit{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0
}
.edit-profile .content .saved-post{
  position: relative;
  box-shadow: 0 0 1px rgba(0,0,0,.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: .5rem 2rem;
  margin: 1rem 0;
  border-radius: var(--Radius-xs)
}
.edit-profile .content .saved-post .title h3{
  font-size: 1rem;
  color: var(--Dark-color);
  letter-spacing: 1px;
  font-weight: 400
}
.edit-profile .content .saved-post .buttons a,
.edit-profile .content .saved-post .buttons button{
  outline: none;
  border: none;
  font-size: .95rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer
}
.edit-profile .content .saved-post .buttons svg{
  width: 18px;
  height: 18px;
  fill: var(--White-color)
}
.edit-profile .content .saved-post .buttons{
  margin: 0 .35rem
}
.edit-profile .content .saved-post .visit a{
  background: var(--Primary-color)
}
.edit-profile .content .saved-post .delete button{
  background: var(--Danger-color)
}
.edit-profile .content .saved-post .links{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap
}

/* Registration */
.register{
  position: relative;
  top: 0;
  width: 100%;
  padding: 5rem 0
}
.register .content{
  padding: 0 380px
}
.register .box{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem;
  padding-top: 6rem;
  box-shadow: var(--box-shadow2);
  background: var(--White-color);
  border-radius: var(--Radius-xs);
  overflow: hidden
}
.register .box .form-title{
  position: absolute;
  top: 1%;
  left: 0;
  width: 100%;
  font-size: 2.2rem;
  padding: 1rem 0;
  text-align: center;
  color: var(--Primary-color)
}
.register .box .acc-type{
  display: flex;
  justify-content: space-evenly;
  align-items: center
}
.register .box .acc-type .item{
  margin: 1rem 0
}
.register .box .acc-type .item input{
  display: none
}
.register .box .acc-type .item label{
  position: relative;
  padding: .5rem .65rem;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: var(--Radius-xs);
  color: var(--Dark-color);
  cursor: pointer;
  overflow: hidden
}
.register .box .acc-type .item label svg{
  margin: 0 .2rem
}
.register .box .acc-type .item input:checked ~ label svg{
  fill: var(--Primary-color)
}
.register .box .acc-type .item input:checked ~ label{
  border-color: var(--Primary-color);
  color: var(--Primary-color);
  transition: var(--Transition1)
}
.register .box .acc-type .item input:checked ~ label::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 35%;
  background: rgba(87, 190, 108,.45);
  z-index: -2
}
.register .box .footer{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem
}
.register .box .submit{
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center
}
.register .box .required span{
  padding: 0 .35rem;
  transform: translateY(-10%);
  color: var(--Danger-color)
}
.register .box .input-item{
  margin-bottom: .2rem;
  border: 1px solid transparent;
  color: var(--Dark-color)
}
.register .box .input-item.valid,
.register .box .input-item.unvalid{
  background: var(--White-color)
}
.register .box .input-item.valid{
  border-color: var(--Primary-color)
}
.register .box .input-item.unvalid{
  border-color: var(--Danger-color)
}
.register .box .input-item option{
  background: var(--White-color);
  font-size: 1rem;
  font-family: bold
}
.register .box .input-item option:checked{
  color: var(--Primary-color)
}
.register .box .desc{
  font-size: .8rem
}
.register .box .fields div{
  margin-top: .55rem
}
.register .box .fields label{
  font-weight: 500
}
.register .box .link{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center
}
.register .box .link p{
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .5px
}
.register .box .link a,
.register .box .terms a{
  color: var(--Primary-color);
  font-weight: bold;
  margin: 0 .35rem
}
.register .box .terms{
  display: inline
}
.register .box .terms label{
  position: relative;
  user-select: none;
  cursor: pointer;
  font-size: .9rem;
  font-weight: bolder;
  padding-left: 1.2rem;
  display: flex;
  max-width: 95%;
  margin-top: 1rem
}
.register .box .terms label .check{
  position: absolute;
  left: 0;
  top: 4px;
  width: 13px;
  height: 13px;
  border-radius: 4px;
  border: 1px solid var(--Grey-color);
  margin-right: 5px
}
.register .box .terms input{
  display: none
}
.register .box .terms .check svg{
  position: absolute;
  width: 17px;
  height: 17px;
  top: 0;
  left: 0;
  transform: translateY(-40%);
  fill: none;
  stroke: var(--Primary-color);
  stroke-width: 50;
  stroke-dasharray: 1440;
  stroke-dashoffset: 1440;
  transition: var(--Transition1)
}
.register .box .terms input:checked ~ label .check svg{
  stroke-dashoffset: 0
}
.register .box .fields .pass{
  position: relative
}
.register .box .fields .pass .visible{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%,-50%);
  cursor: pointer
}
.register .box .fields .pass .visible svg{
  width: 18px;
  height: 18px
}
.register .box .fields .forgot{
  text-align: right
}
.register .box .fields .forgot a{
  cursor: pointer
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navbar{
      padding: 0.4rem .5rem;
  }
  .navbar a{
      margin: 0;
  }
  .navbar-bottom{
      width: 95%;
  }
  .navbar-bottom ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .landing .home h1{
      font-size: 1.8rem;
  }
  .landing .home .welcome{
      margin-top: 2.5rem;
  }
  .landing .home .right-sec{
      margin: 0 auto;
  }
  .landing .home .button{
      margin: 2.5rem 0;
  }
  .hide-sm{
      display: none;
  }
  .show-sm{
      display: block;
  }
  .landing .services{
      padding: 4rem 0;
  }
  .landing .services .join{
      order: 1;
  }
  .landing .services .cards{
      order: 2;
      display: block;
  }
  .landing .services .card{
      margin: 1rem auto;
      width: 100%;
  }
  .landing .services .card > div{
      width: 100%;
  }
  .landing .testimonial .card .avatar{
      height: 25%;
  }
  .landing .testimonial .card .opinion{
      max-width: 100%;
  }
  footer .social div{
      width: 40px;
      height: 40px;
      margin: 2rem auto;
  }
  footer .links{
      margin: 1rem 0;
  }
  .navbar .search{
      top: 80%;
      transform: translate(-50%,0%);
  }
  .content .post .footer .left{
      margin: 0 auto;
      margin-bottom: 1.5rem;
  }
  .content .posts .post .body p{
      letter-spacing: .5px;
      font-size: .85rem;
      padding: 0 1rem;
  }
  .content .posts .post,
  .dash .content .welcomes,
  .dash .content .oproto,
  .content .header{
    width: 450px;
  }
  .content .posts .post .avatar{
    width: 50px;
    height: 50px;
  }
  .profile{
      padding-top: 7.5rem;
  }
  .edit-profile{
      padding-top: 7.5rem;
  }
  .register{
      padding-top: 7.5rem;
  }
  .profile .content .heading .avatar{
      margin: 1rem;
  }
  .profile .content .heading .gains .ski-edu{
      width: 100%;
  }
}
@media (max-width: 1232px) {
  .dash{
      padding-top: 7.5rem;
  }
  aside,.right-sidebar{
      width: 0;
      z-index: 101;
  }
  .right-sidebar .toggle,
  aside .toggle{
      display: block;
  }
}
@media (max-width: 1056px) {
  .profile .content .heading .avatar{
      order: 1;
  }
  .profile .content .heading .btns{
      margin: 1rem 0;
      order: 2;
      display: flex;
  }
  .profile .content .heading .stats{
      order: 3;
  }
  .profile .content .heading .btns .follow,
  .profile .content .heading .btns .edit{
      margin: 0 1rem;
  }
  .edit-profile .content .inner{
      padding: 0;
  }
  .register .content{
      padding: 0 1rem;
  }
  .profile .content .info{
      width: 85%;
  }
}
@media (max-width: 471px) {
  .content .posts .post,
  .dash .content .welcomes,
  .dash .content .oproto,
  .content .header{
    width: 350px;
  }
  .content .posts .post .inner .head .user-feeling{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 1rem;
  }
  .content .post .footer{
    justify-content: center;
    padding: .5rem .2rem;
  }
  .content .post .footer .head span{
    font-size: .8rem;
  }
  .sm-foricon{
    font-size: 15px;
    letter-spacing: .5px;
  }
  .content .posts .post .comments,
  .content .posts .post .comments .comments-card .footer{
    padding: 0;
  }
}